<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Content</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atom-one-light.min.css">
    <link rel="stylesheet" href="/css/content.css">
</head>

<body>
    <img src="/img/content_icon.png" alt="博客正文图片">
    <h2>${title}</h2>
    <header>
        <span>id: ${id}</span>
        <span>作者: ${author}</span>
        <span>创作时间: ${created_time}</span>
    </header>
    <article>
        <section>${content}</section>
    </article>
    <footer>
        <a href="../../">回到主页</a>
    </footer>
</body>

</html>