<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="./css/blog.css">
</head>

<body>
    <h1>博客</h1>
    <div class="blog-icon">
        <img src="./img/blog_icon.png" alt="">
    </div>
    <div class="blog-container">
        <!-- <div class="blog-cell">
            <title>标题</title>
            <div class="">
                <span>作者</span> @ <time>时间</time>
            </div>
        </div> -->
    </div>

</body>

</html>